*{
  margin: 0;
  padding: 0;
  font-family: "Inter";
  text-align: center;
 
}

body{
  background: black
}
h1{
  margin-top:auto;
  margin-bottom: auto;
}

 nav{
  margin-top: 0px;
  background: grey;
  display: flex ;
  justify-content: center;
  padding-right: 0%;
  justify-content: center;
  height:50px;
}

input{
  border-style: solid;
  border-width: thin;
  height: 50px;
  width: 500px;
  background-color: lightgrey;
  text-align: center;
}

form{
  margin-top:auto;
  margin-bottom: auto;
}


.newcontact{  
  text-align: right;
  font-size: 2.5em;
  color: blue;
  background: transparent;
  border-style: none;
}


#LIST{
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: visible;
  
}

.contactbox{
  background: lightgrey;
  width: 500px;
  height: 50px;
  text-align: left;
  color: white;
 border-width: thin;
 padding-left: 8px;
 font-size: medium;
}

.onecontact{
  max-width: 700px;
  padding: 10px;
  background-color: black;
  border-width: thin;
  border-style: solid;
  padding-bottom: 50px;
}

.onecontact>h1{
  margin-top: 15px;
  color: white;
  
}
img{
  padding-top: 20px;
  width: 100px;
}

.contactoptions{
  display: flex;
  gap:15px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: blue;
}

.contactoptions>div{
  background-color: rgb(32, 32, 32);
  border-radius: 12%;
  width: 70px;
  height: 50px;
  border-style: dashed;
  
}

.contactoptions>div>img{
  margin-top: 0;
  width: 30px;
  padding: 0;
}

.phonearea{
  border-radius: 9px;
  background: rgb(46, 43, 43);
  text-align: left;
  padding: 10px;
  margin-top: 15px;
  height: 50px;
}

.phonearea>h4{
  text-align: left;
  color: white;
}
h2{
  color:white
}

.menuoptions{
  display: flex;
  justify-content: center;
  gap:200px
}

.menuoptions>button{
  background-color: transparent;
  color:blue;
  font-size: large;

}

.fillerinfo{
  margin-top: 15px;
  border-radius: 9px;
  background: rgb(46, 43, 43);
  text-align: left;
  padding: 10px;
 
}

hr{
  margin:5px ;
}

.fillerinfo>h4{
  text-align: left;
  color:blue;
  padding:6px;
}

.onecontact>button{
  font-size: large;
  margin-top: 15px;
  color:red;
  padding: 10px;
  border-radius: 9px;
  background:  rgb(46, 43, 43);
  width: 100%;
}

input{
  text-align: left;
  padding-left: 15px;
}

.a,.b{
  margin-top: 25px;
}

